@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 250 250;
    --foreground: 15 23 42;
  }

  html {
    @apply antialiased;
  }

  body {
    @apply bg-slate-50 text-slate-900 font-sans;
  }
}

@layer components {
  .card {
    @apply bg-white rounded-xl border border-slate-200 shadow-sm;
  }
}
